/* abilities */

abilities
{
    min-height: 450px;
}

abilities .title
{
    display: flex;
    background-color: #DDD;
}

abilities .title img
{
    height: 90px;
}

abilities .title h2
{
    font-size: 2em;
    padding-left: 30px;
}

abilities .ability
{
    display: flex;
}

abilities .ability img
{
    height: 48px;
    padding: 21px;
}

abilities .ability.ult img
{
    height: 64px;
    padding: 13px;
}

/* stats */

line-graph
{
  display: flex;
}

line-graph svg {
}

line-graph .axis path,
line-graph .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

line-graph .x.axis path {
  display: none;
}

line-graph .x.axis.time line {
  stroke: #777;
  stroke-width: 3px;
  opacity: 0.3;
}

line-graph .x.axis.level text {
  display: none;
}

/* shop */

shop {
    /* height: 750px; */
    display: flex;
}


shop .left {
    display: inline-block;
    min-width: 170px;
    padding: 5px;
    top: 0;
}

shop .left button {
    width: 100%;
}

shop .left input[type="checkbox"] {
    float: right;
}

shop .left label {
    font-size: 1em;
    background-color: #F3F3F3;
    margin: 2px;
}

shop .left input[type="checkbox"]:checked+span,
shop .left label:hover {
    background-color: cadetblue;
    display: block;
}

shop .right
{
    width: 100%;
}


shop .category p {
    font-size: 1.5em;
    margin: 10px 3px 0 3px;
}

shop .category hr {
    margin: 0 0 10px 0;
}


shop .search input[type="text"] {
    width: 100%;
}

shop .search {
    height: 30px;
    padding: 5px 0;
    display: flex;
    top: 0;
}

shop .search button {      width: 30px;
    margin: 0 5px;
}


shop .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    border: 1px solid #CCC;
    padding: 5px 0;
    background-color: cadetblue;
    margin: 5px 5px 5px 0;
    min-height: 660px;
}

shop .item {
    -webkit-user-select: none;/* Chrome/Safari */
    -moz-user-select: none;/* Firefox */
    -ms-user-select: none;/* IE10+ */
    -o-user-select: none;
    user-select: none;
    height: 45px;
    width: 24%;
    display: flex;
    margin: 3px;
    background-color: #EEE;
    border-radius: 5px;
    cursor: pointer;
}

shop .item > ddragonimage > img {
    width: 39px;
    height: 39px;
    border: 3px solid #B3B321;
    border-radius: 5px;
    display: inline-block;
    border: 3px solid #026561;
}

shop .item > div {
    margin: 4px 10px;
    display: inline-block;
    width: 100%;
}

shop .item > div > p {
    margin: 0px;
    font-size: 1em;
    display: inline;
    font-family: sans-serif;
}

shop .item .name {
    width: 100%;
}

shop .item .gold {
    min-width: 70px;
    display: flex;
    font-size: 0.8em;
}

shop .item .gold img {
    height: 32px;
    display: inline-block;
    padding-right: 4px;
}

shop .item .gold p {
    margin: 2px -8px;
}

shop .item:hover {
    background-color: #CCC;
}

/* media */

@media (max-width: 1700px) {
    shop .item {
        width: 32%;
    }
}

@media (max-width: 1350px) {
    shop .item {
        width: 48%;
    }
}

@media (max-width: 800px) {
    shop .left {
        display: none;
    }
}

@media (max-width: 600px) {
    shop .item {
        width: 100%;
    }
    shop .item .gold {
        display: inline-block;
        text-align: right;
    }
    shop .items p {
        line-height: 45px;
        font-size: 1.2em;
    }
}

/*

.tier img {
    height: 140px;
    vertical-align: middle;
}

.tier {
    display: inline-block;
    cursor: pointer;
    background-color: #EEE;
    margin: 10px;
    border-radius: 10px;
    height: 170px;
}

.tier p {
    font-size: 1.2em;
    text-align: center;
    margin: 0;
}

.tier:hover, .tier:focus {
    background-color: #CCC;
}

.config > div > p {
    display: inline-block;
}

.config > div > p:first-child {
    min-width: 150px;
    text-align: right;
}

.config {
    width: 340px;
}

#radio-link:checked ~ label.unchecked {
    display: none;
}

#radio-link:not(:checked) ~ label.checked {
    display: none;
}

#radio-link {
    display: none;
}

.link {
    width: 30px;
    display: none;
}

.link label {
    width: 30px;
    height: 30px;
}

.link label img {
  padding: 8px;
}

.wealth {
    color: #008000;
    margin: 0;
    position: absolute;
    padding-top: 10px;
}

.icon-small {
    width: 20px;
    margin: 0 4px;
}

.masteries {
    display: flex;
    width: 825px;
    height: 480px;
    justify-content: center;
}

.masteries .offense, .masteries .defense, .masteries .utility {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 33%;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    background-repeat: no-repeat;
}

.mastery:not(:empty):before {
    content: " ";
    background-image: url(../images/masteries/border-used.png);
    position: absolute;
    width: 50px;
    height: 54px;
    z-index: 10;
}

.mastery.disabled img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.mastery.disabled p.rank {
    color: #7e7e7e;
    cursor: default;
}

.mastery p.rank {
    font-family: sans-serif Arial;
    font-size: 0.8em;
    position: absolute;
    margin: -14px 0 0 23px;
    width: 24px;
    text-align: center;
    z-index: 20;
    cursor: pointer;
}

.mastery {
    width: 48px;
    margin: 6px;
}

.mastery.disabled:before {
    background-image: url(../images/masteries/border-disabled.png);
}

.mastery p.rank {
    color: #00f300;
}

.mastery.complete:before {
    background-image: url(../images/masteries/border-complete.png);
}

.mastery.complete p {
    color: #fdf300;
}

.masteries .total {
    color: #FFF;
    font-size: 2em;
    font-variant: small-caps;
    width: 100%;
    margin: 0 10px;
}

.mastery:not(.disabled):not(:empty) {
    cursor: pointer;
}

.masteries p {
    cursor: default;
}

.mastery > div {
    display: none;
    z-index: 30;
    padding: 10px;
    margin: 5px;
    position: absolute;
    background-color: #000;
    border-radius: 5px;
    border: 3px solid #aa7625;
    transition: opacity 0.25s ease-in;
    -webkit-transition: opacity 0.25s ease-in;
}

.mastery:hover > div {
    display: inherit;
}

.mastery > div:hover {
    opacity: 0;
    z-index: 0;
}

.mastery > div p {
    font-size: 1.2em;
    color: #FFF;
}

.mastery > div ul {
    margin: 0 0 8px 0;
    color: #FFF;
}

.mastery > div h2 {
    margin: 0;
}

.masteries .offense .mastery > div h2 {
    color: #b51c00;
}

.masteries .defense .mastery > div h2 {
    color: #46a1eb;
}

.masteries .utility .mastery > div h2 {
    color: #329832;
}

.masteries .offense {
    background-image: url(../images/masteries/mastery_background_offense.png);
}

.masteries .defense {
    background-image: url(../images/masteries/mastery_background_defense.png);
}

.masteries .utility {
    background-image: url(../images/masteries/mastery_background_utility.png);
}*/