/* champions */

.champions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.champion
{
    width: 150px;
    height: 275px;
    margin: -2px;
}

.champion:hover {
    -webkit-filter: brightness(1.2);
    filter: brightness(1.2);
}

.champion:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.champion a
{
    display: block;
    text-decoration: none;
}

.champion img {
    width: 150px;
    height: 273px;
    -webkit-clip-path: inset(8px 8px 0px 8px round 10px);
    clip-path: inset(8px 8px 0px 8px round 10px);
    
    -webkit-filter: grayscale(0.8);
    filter: grayscale(0.8);
}

.champion .info p {
    z-index: 10;
    margin: 5px;
}

.champion .info {
    position: absolute;
    width: 134px;
    height: 72px;
    margin-top: -76px;
    margin-left: 7px;
    font-size: 0.9em;
    text-align: center;
    font-family: verdana, sans-serif;
    color: #FFF;
    background-color: rgba(0,0,0,0.7);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.champion .info bar {
    padding-left: 5px;
}

.champion .info bar > div:not(:nth-child(n-1)) {
    border-left: none;
}

.champion .info bar.attack > div {
    background-color: #5C1F1F;
}

.champion .info bar.defense > div {
    background-color: #163A16;
}

.champion .info bar.magic > div {
    background-color: #1B3556;
}

.champion .info bar.difficulty > div {
    background-color: #411A52;
}


/* filters */

.filters {
    display: flex;
}

.filters > div
{
    width: 33%;
}

.filters label {
    margin: 8px;
    text-align: initial;
    display: inline-block;
}

.filter-center {
    max-width: 250px;
}

.filter-center input[type="text"] {
    width: 100%;
}

.filter-center label {
    margin: 20px 10px 0 10px;
    width: 5em;
    text-align: center;
}

.filter-left > .center,
.filter-right > .center {
    width: 80%;
    text-align: center;
    padding: 20px;
}

.filter-left label,
.filter-right label {
    width: 120px;
}


/* @media */

@media (max-width: 1200px) {
    .champion
    {
        width: 100px;
        height: 181px;
        margin: initial;
        padding: 5px;
    }

    .champion img {
        width: 100px;
        height: 181px;
        -webkit-clip-path: inset(3px 3px 3px 3px round 5px);
        clip-path: inset(3px 3px 3px 3px round 5px);
    }

    .champion .info {
        font-size: 0.8em;
        width: inherit;
        height: inherit;
        margin: -33px 0 0 3px;
        
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 5px;
    }
    
    .champion .info bar {
        display: none;
    }
}

@media (max-width: 850px) {
    .filter-center
    {
        width: 100% !important;
    }
}

@media (max-width: 600px) {
    .filter-left,
    .filter-right {
        display: none;
    }
    .filter-center {
        width: 100% !important;
    }
    .filter-center div {
        width: 100% !important;
    }
    .filter-center .melee-ranged {
        display: none;
    }
}