:host {
  background-color: transparent;
  display: flex;
  font-size: 1em;
  max-width: 500px;
  padding: 10px;

  button {
    font-size: .8em;
    margin-left: 20px;
    padding: 5px;
  }

  button .icon {
    padding: 5px 5px 5px 0;
  }

  .error .icon {
    padding-top: 10px;
  }

  lb-icon-error {
    height: 32px;
    margin: auto 0;
    width: 32px;
  }

  .error {
    color: #900000;
    fill: #900000;
  }

  .error-text {
    margin: 3px 0 0 10px;
  }
}
