lb-signup,
lb-signup .actions,
lb-signup .auth0-badge {
  display: flex;
}

lb-signup > div {
  width: 250px;
  padding: 20px;
  background-color: #FFF;
  border-radius: 10px;
}

lb-signup .actions,
lb-signup .auth0-badge {
  padding-top: 20px;
}

lb-signup .actions p {
  display: inline;
}

lb-signup .email,
lb-signup .password,
lb-signup .password-repeat {
  padding: 0px 8px;
}

lb-signup .email label {
  margin-top: 0px;
}

lb-signup button {
  display: inline;
  width: 100px;
  height: 40px;
}

lb-signup input[type="text"],
lb-signup input[type="password"] {
  width: 100%;
  padding: 5px 8px;
  margin: 0px -8px;
}

lb-signup label {
  margin: 10px -8px;
}
