lb-signup,
lb-signup .actions,
lb-signup .auth0-badge {
  display: flex;
}

lb-signup > div {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
}

lb-signup .actions,
lb-signup .auth0-badge {
  padding-top: 20px;
}

lb-signup .actions p {
  display: inline;
}

lb-signup .email,
lb-signup .password,
lb-signup .password-repeat {
  padding: 0 8px;
}

lb-signup .email label {
  margin-top: 0;
}

lb-signup button {
  display: inline;
  height: 40px;
  width: 100px;
}

lb-signup input[type='text'],
lb-signup input[type='password'] {
  margin: 0 -8px;
  padding: 5px 8px;
  width: 100%;
}

lb-signup label {
  margin: 10px -8px;
}
