auth,
auth .actions,
auth .auth0-badge {
  display: flex;
}

auth > div {
  width: 250px;
  padding: 20px;
  background-color: #FFF;
  border-radius: 10px;
}

auth .actions,
auth .auth0-badge {
  padding-top: 20px;
}

auth .actions p {
  display: inline;
}

auth .email,
auth .password {
  padding: 0px 8px;
}

auth .email label {
  margin-top: 0px;
}

auth button {
  display: inline;
  width: 100px;
  height: 40px;
}

auth input[type="text"],
auth input[type="password"] {
  width: 100%;
  padding: 5px 8px;
  margin: 0px -8px;
}

auth label {
  margin: 10px -8px;
}
