<table class="table table-backlog" style="margin-bottom: 0px">
   <thead>
      <tr>
         <th ng-if="::overview.name">&nbsp;</th>
         <th>TLOG</th>
         <th>PSREF</th>
         <th>TLOG({{::user.name}})</th>
         <th>PSREF({{::user.name}})</th>
      </tr>
   </thead>
   <tbody>
      <tr ng-repeat="task in ::tasks" ng-show="::task.show != false" tooltip="To&nbsp;be&nbsp;{{::task.stateReadable}}" tooltip-enable="tooltips" tooltip-placement="left" style="height:32px">
         <td ng-show="!tooltips" style="text-align:left">To&nbsp;be&nbsp;{{::task.stateReadable}}</td>
         <td ng-repeat="record in ::task.records" ng-class="{disabled: record.disabled}">
            <tokng-backlog count="record.count" link="record.link" warning="record.warning" disabled="record.disabled"></tokng-backlog>
         </td>
      </tr>
   </tbody>
</table>