@import '../content.scss';

:host > div > div {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 200px;
}

:host > div > div > div {
  width: 100px;
}

h2 {
  margin-top: 0;
}
