:host {
  display: flex;
}

h2 {
  margin-top: 10px;
}

label {
  display: inline-block;
  margin: 8px;
  text-align: initial;
}

.center {
  max-width: 266px;
  width: 25%;
}

.center input[type='text'] {
  width: 90%;
}

.center label {
  text-align: center;
  width: 250px;
}

@media (max-width: 850px) {
  .center {
    width: 100% !important;
  }
}

@media (max-width: 600px) {
  .center {
    width: 100% !important;
  }

  .center div {
    width: 100% !important;
  }
}
