[Unit]
Description=Timer for certificate auto renewal service

[Timer]
OnCalendar=0/10:00:00
RandomizedDelaySec=1200

[Install]
WantedBy=timers.target
