[Unit]
Description=Node.js Static server

[Service]
ExecStart=/usr/bin/node /srv/static-server.js --api=/srv/api.key --cert=/etc/letsencrypt/live/legendbuilder.io/fullchain.pem --key=/etc/letsencrypt/live/legendbuilder.io/privkey.pem
WorkingDirectory=/
Restart=always
RestartSec=5                        # Restart service after 5 seconds if node service crashes
StandardOutput=syslog               # Output to syslog
StandardError=syslog                # Output to syslog
SyslogIdentifier=nodejs-static
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
