lb-region > div {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 226px;
}

lb-region a:hover {
  text-decoration: none;
}

lb-region h2 {
  margin-top: 0;
}

lb-region button {
  display: block;
  margin: 5px 0;
  padding: 0;
  text-align: left;
  width: 226px;
}

lb-region span {
  display: inline-block;
  padding: 7px;
  text-align: left;
}

lb-region button > a > span:first-child {
  border-right: 1px dotted #ccc;
  width: 40px;
}
