.title {
  display: flex;
  background-color: #DDD;
}

.title img {
  height: 90px;
}

.title h2 {
  font-size: 2em;
  padding-left: 30px;
}


/* abilities */

abilities {
  min-height: 450px;
}

abilities .ability {
  display: flex;
}

abilities .ability img {
  height: 48px;
  padding: 21px;
}

abilities .ability.ult img {
  height: 64px;
  padding: 13px;
}


/* stats */

graph {
  display: flex;
  margin-bottom: 20px;
}

graph .axis path,
graph .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

graph .x.axis.level line {
  /*fill: #e7e7e7;*/
}

graph .x.axis.level-line text,
graph .x.axis.level-text line {
  display: none;
}

graph .x.axis path {
  display: none;
}

graph .x.axis.time line {
  stroke: #777;
  stroke-width: 3px;
  opacity: 0.3;
}

graph .line {
  stroke-width: 2px;
  fill: none;
}

graph .line.xp {
  stroke: #026561;
}

graph .line.g {
  stroke: #aa7625;
}


/* masteries */

masteries {
  display: flex;
  width: 825px;
  height: 480px;
  justify-content: center;
  margin: 0 auto;
}

masteries mastery > div h2 {
  color: #46a1eb;
}

masteries .Ferocity mastery > div h2 {
  color: #b51c00;
}

masteries .Cunning mastery > div h2 {
  color: #7B3BD4;
}

masteries .Resolve mastery > div h2 {
  color: #46a1eb;
}

masteries .total {
  color: #FFF;
  font-size: 2em;
  font-variant: small-caps;
  width: 100%;
  margin: 0 10px;
}

masteries p {
  cursor: default;
}

/* mastery-category */

mastery-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 33%;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  background-repeat: no-repeat;
}

/* mastery-tier */

mastery-tier {
  display: flex;
}

/* mastery */

mastery {
  width: 48px;
  margin: 6px;
}

mastery > div:not(.active) img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}


mastery > div:before {
  content: '';
  border: 2px solid #777;
  position: absolute;
  width: 48px;
  height: 48px;
  z-index: 10;
}

mastery > div.enabled:before {
  border: 2px solid #4387DE;
}

mastery > div.enabled {
  cursor: pointer;
}

mastery .rank {
  position: absolute;
  margin: 40px 0 0 26px;
  cursor: pointer;
  z-index: 20;
}

mastery > div:not(.enabled) .rank {
  cursor: default;
}

mastery > div > img {
  border: 2px solid #777;
  height: 48px;
}

mastery .description {
  display: none;
  z-index: 30;
  padding: 10px;
  margin: 5px 55px;
  position: absolute;
  background-color: #000;
  border-radius: 5px;
  border: 3px solid #aa7625;
  transition: opacity 0.25s ease-in;
  -webkit-transition: opacity 0.25s ease-in;
  font-size: 12px;
  max-width: 500px;
}

mastery:hover .description {
  display: inherit;
}

mastery .description:hover {
  opacity: 0;
  z-index: 0;
}

mastery .description p {
  font-size: 1.2em;
  color: #FFF;
}

mastery .description ul {
  margin: 0 0 8px 0;
  color: #FFF;
}

mastery .description h2 {
  margin: 0;
  font-size: 18px;
}


/* shop */

shop {
  /* height: 750px; */
  display: flex;
}


shop .left {
  display: inline-block;
  min-width: 170px;
  padding: 5px;
  top: 0;
}

shop .left button {
  width: 100%;
}

shop .left input[type="checkbox"] {
  float: right;
}

shop .left label {
  font-size: 1em;
  background-color: #F3F3F3;
  margin: 2px;
}

shop .left input[type="checkbox"]:checked+span,
shop .left label:hover {
  background-color: cadetblue;
  display: block;
}

shop .right-container {
  display: flex;
}

shop .middle {
  width: 70%;
}

shop .right {
  width: 30%;
}


shop .category p {
  font-size: 1.5em;
  margin: 10px 3px 0 3px;
}

shop .category hr {
  margin: 0 0 10px 0;
}


shop .search input[type="text"] {
  width: 100%;
}

shop .search {
  height: 30px;
  padding: 5px 0;
  display: flex;
  top: 0;
}

shop .search button {
  width: 30px;
  margin: 0 5px;
  padding: 2px;
}


shop .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  border: 1px solid #CCC;
  padding: 5px 0;
  background-color: cadetblue;
  margin: 5px 5px 5px 0;
  min-height: 1000px;
}

shop .items item {
  width: 32%;
}

/* items */

items {
  display: block;
  height: 300px;
}

items item {
  display: inline-block;
  position: relative;
}

items item > img {
  position: absolute;
}

items item .bundle {
  position: absolute;
  font-size: 0.8em;
  color: #866B00;
  margin: 0 0 0 27px;
  padding: 0 2px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* item */

item {
  -webkit-user-select: none;/* Chrome/Safari */
  -moz-user-select: none;/* Firefox */
  -ms-user-select: none;/* IE10+ */
  -o-user-select: none;
  user-select: none;
  height: 45px;
  display: flex;
  margin: 2.5px;
  background-color: #EEE;
  border-radius: 5px;
  cursor: pointer;
}

item > img {
  height: 45px;
  border-radius: 5px;
  display: inline-block;
}

item > div {
  margin: 4px 10px;
  display: inline-block;
  width: 100%;
}

item > div > p {
  margin: 0;
  font-size: 1em;
  display: inline;
  font-family: sans-serif;
}

item .name {
  width: 100%;
}

item .gold {
  min-width: 70px;
  display: flex;
  font-size: 0.8em;
}

item .gold img {
  height: 32px;
  display: inline-block;
  padding-right: 4px;
}

item .gold p {
  margin: 2px -8px;
}

item:hover {
  background-color: #CCC;
}

preview item p.gold,
item-slot item p.gold {
  position: absolute;
  margin: 30px 0 0 0;
  padding: 0 2px;
  background-color: rgba(0,0,0,0.7);
  min-width: 0;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* item-slot */

item-slot {
  display: block;
  height: 50px;
}

/* preview */

preview {
  display: block;
  border: 1px solid #CCC;
  background-color: cadetblue;
  margin: 5px 0;
  min-height: 1100px;
}

preview h2 {
  text-align: center;
}

preview .into {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 70px;
  padding: 2.5px 5px 0 5px;
}

preview .tree {
  padding: 5px;
}

preview item {
  position: relative;
  display: inline-block;
  width: 45px;
}

preview item p.gold {
  margin: -19px 0 0 0;
}

preview .item img {
  display: block;
  border-radius: 8px;
  margin: 0 auto;
}

/* items-from */

items-from {
  display: flex;
  justify-content: center;
}

items-from div {
  padding-top: 14px;
}

items-from item {
  display: block;
  margin: 0 auto;
  padding: 0 8px;
  background-color: cadetblue;
}

items-from item:hover {
  background-color: cadetblue;
}

/* media */

@media (max-width: 1700px) {
  item {
    width: 32%;
  }
}

@media (max-width: 1350px) {
  item {
    width: 48%;
  }
}

@media (max-width: 800px) {
  shop .left {
    display: none;
  }
}

@media (max-width: 600px) {
  item {
    width: 100%;
  }
  item .gold {
    display: inline-block;
    text-align: right;
  }
  shop .items p {
    line-height: 45px;
    font-size: 1.2em;
  }
}