region > div {
	width: 226px;
}

region button {
  display: block;
	width: 226px;
	margin: 5px 0;
	padding: 0;
  text-align: left;
}

region span {
	padding: 7px;
	display: inline-block;
	text-align: left;
}

region button > a > span:first-child {
	width: 40px;
	border-right: 1px dotted #CCC;
}