:host {
  display: flex;

   > div {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
  }
}

label {
  width: 340px;
}

label > div {
  width: 230px;
}

h2 {
  margin-top: 0;
}
