.content {
  background-color: #FFF;
}

lb-champion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

lb-champion p {
  font-size: 1em;
}

lb-champion .champion {
  height: 275px;
  margin: -1px -2px;
}

lb-champion .champion:hover {
  -webkit-filter: brightness(1.2);
  filter: brightness(1.2);
}

lb-champion .champion:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

lb-champion .champion a {
  display: block;
  text-decoration: none;
}

lb-champion .champion img {
  width: 150px;
  height: 273px;
  -webkit-clip-path: inset(8px 8px 0px 8px round 10px);
  clip-path: inset(8px 8px 0px 8px round 10px);
  clip: rect(8px 8px 0px 8px);
  
  -webkit-filter: grayscale(0.8);
  filter: grayscale(0.8);
  background-color: #EEE;
}

lb-champion .champion .info p {
  z-index: 10;
  margin: 5px;
}

lb-champion .champion .info {
  position: absolute;
  width: 134px;
  height: 72px;
  margin-top: -76px;
  margin-left: 7px;
  font-size: 0.9em;
  text-align: center;
  font-family: verdana, sans-serif;
  color: #FFF;
  background-color: rgba(0,0,0,0.7);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

lb-champion .champion .info lb-bar {
  padding-left: 5px;
}

lb-champion .champion .info lb-bar.attack > div {
  background-color: #5C1F1F;
}

lb-champion .champion .info lb-bar.defense > div {
  background-color: #163A16;
}

lb-champion .champion .info lb-bar.magic > div {
  background-color: #1B3556;
}

lb-champion .champion .info lb-bar.difficulty > div {
  background-color: #411A52;
}


/* lb-filters */

lb-filters {
  display: flex;
  width: 100%;
}

lb-filters > div {
  width: 37%;
}

lb-filters > div.center {
  width: 25%;
}

lb-filters label {
  margin: 8px;
  text-align: initial;
  display: inline-block;
}

lb-filters .center {
  max-width: 250px;
}

lb-filters .center input[type="text"] {
  width: 100%;
}

lb-filters .center label {
  margin: 20px 0 0 0;
  width: 5em;
  text-align: center;
}

lb-filters .left > .align-center,
lb-filters .right > .align-center {
  width: 85%;
  padding: 20px;
  text-align: center;
}

lb-filters .left label {
  width: 120px;
}

lb-filters .right label {
  width: 155px;
}


/* @media */

@media (max-width: 1350px) {
  lb-champion .champion
  {
    width: 100px;
    height: 181px;
    margin: initial;
    padding: 5px;
  }

  lb-champion .champion img {
    width: 100px;
    height: 181px;
    -webkit-clip-path: inset(3px 3px 3px 3px round 5px);
    clip-path: inset(3px 3px 3px 3px round 5px);
  }

  lb-champion .champion .info {
    font-size: 0.8em;
    width: inherit;
    height: inherit;
    margin: -33px 0 0 3px;
    
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 5px;
  }
  
  lb-champion .champion .info lb-bar {
    display: none;
  }
}

@media (max-width: 850px) {
  lb-filters .center
  {
    width: 100% !important;
  }
}

@media (max-width: 600px) {
  lb-filters .left,
  lb-filters .right {
    display: none;
  }
  lb-filters .center {
    width: 100% !important;
  }
  lb-filters .center div {
    width: 100% !important;
  }
}