<!DOCTYPE html>
<html>

<head>
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="An advanced League of Legends champion builder">

  <link rel="shortcut icon" href="/favicon.ico" />
  <link href='https://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>

  <base href="<%= htmlWebpackPlugin.options.baseUrl %>">

  <style>
    <%=require('./base.css') %>
  </style>
</head>

<body>
  <header>
    <div class="align-center">
      <a href="/" class="logo"><%= require('./assets/images/logo.svg') %></a>
      <div>
        <h1>Legend Builder</h1>
        <a href="https://github.com/SteveVanOpstal/LegendBuilder/releases" class="version <%= htmlWebpackPlugin.options.version %>"><%= htmlWebpackPlugin.options.version %></a>
      </div>
    </div>
    <!--<lb-actions></lb-actions>-->
  </header>
  <section class="content">
    <lb-app>
      <div class="loading">
        <%= require('./assets/images/load.svg') %>
      </div>
    </lb-app>
  </section>
  <footer>
    <nav class="align-center">
      <a href="/about">about</a>
      <span>-</span>
      <a href="https://github.com/SteveVanOpstal/LegendBuilder">github</a>
      <span>-</span>
      <a href="https://gitter.im/SteveVanOpstal/LegendBuilder">gitter</a>
      <span>-</span>
      <a href="https://www.reddit.com/r/legendbuilder">reddit</a>
    </nav>
  </footer>

  <% if (htmlWebpackPlugin.options.ENV === 'development') { %>
    <!-- Webpack Dev Server reload -->
    <script src="http://<%= htmlWebpackPlugin.options.host %>:<%= htmlWebpackPlugin.options.port %>/webpack-dev-server.js"></script>
    <% } %>
</body>

</html>