lb-login,
lb-login .actions,
lb-login .auth0-badge {
  display: flex;
}

lb-login > div {
  width: 250px;
  padding: 20px;
  background-color: #FFF;
  border-radius: 10px;
}

lb-login .actions,
lb-login .auth0-badge {
  padding-top: 20px;
}

lb-login .actions p {
  display: inline;
}

lb-login .email,
lb-login .password {
  padding: 0px 8px;
}

lb-login .email label {
  margin-top: 0px;
}

lb-login button {
  display: inline;
  width: 100px;
  height: 40px;
}

lb-login input[type="text"],
lb-login input[type="password"] {
  width: 100%;
  padding: 5px 8px;
  margin: 0px -8px;
}

lb-login label {
  margin: 10px -8px;
}
