lb-login,
lb-login .actions,
lb-login .auth0-badge {
  display: flex;
}

lb-login > div {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
}

lb-login .actions,
lb-login .auth0-badge {
  padding-top: 20px;
}

lb-login .actions p {
  display: inline;
}

lb-login .email,
lb-login .password {
  padding: 0 8px;
}

lb-login .email label {
  margin-top: 0;
}

lb-login button {
  display: inline;
  height: 40px;
  width: 100px;
}

lb-login input[type='text'],
lb-login input[type='password'] {
  margin: 0 -8px;
  padding: 5px 8px;
  width: 100%;
}

lb-login label {
  margin: 10px -8px;
}
